<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>NewBiz Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets2/img/favicon.png" rel="icon">
  <link href="static/assets2/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets2/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets2/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets2/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets2/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets2/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NewBiz
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center" >
    <div class="container d-flex justify-content-between" >

      <div class="logo" >
        <!-- Uncomment below if you prefer to use an text logo -->
        <h1><a href="index.html">Celesta</a></h1> 
        
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('asteroid')}}"><strong>CHATBOT</strong></a></li> 
         
         
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- #header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="clearfix">
    <div class="container" data-aos="fade-up">

     

      <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
        <h2 style="color: white;">Unlocking the Secrets of Asteroids: </h2>
        <h3  style="color: YELLOW;"><b>Journey into the World of NEAs</b> </h3>
        
        
      </div>

    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up" style="background-color: #ADC4CE;">

        <header class="section-header">
          <h3>............</h3>
          <h3><b>ABOUT ASTEROIDS</b></h3>
          <h5><b>While they may seem like distant celestial objects, asteroids play a crucial role in shaping the history and future of our solar system. From their mysterious origins to the potential impact threats they pose to our planet, there's much to discover.</b></h5>
        <br><br></header>

        <div class="row about-container" >

          <div class="col-lg-6 content order-lg-1 order-2" style="background-color: #ADC4CE;">
            <p><strong>
              Asteroids are rocky celestial objects orbiting the Sun, primarily located in the asteroid belt between Mars and Jupiter. They vary in size and composition, offering insights into the early solar system's evolution.Three primarily types of asteroids are:
            </strong></p>
            <br>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100" style="background-color: #ADC4CE;">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">C-Type ASTEROIDS (Carbonaceous): </a></h4>
              <p class="description">These asteroids are rich in carbon, water, and organic compounds. They are often dark in color . C-type asteroids are typically found in the outer regions of the asteroid belt.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200" style="background-color: #ADC4CE;">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">S-Type ASTEROIDS (Silicaceous): </a></h4>
              <p class="description">S-type asteroids are composed mainly of silicate minerals and nickel-iron. They are relatively bright and are commonly found in the inner part of the asteroid belt.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="300" style="background-color: #ADC4CE;">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">M-Type ASTEROIDS (Metallic): </a></h4>
              <p class="description">M-type asteroids are primarily composed of metallic elements, such as nickel and iron. They are dense and are typically located in the middle region of the asteroid belt.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
            <br><br>
            <img src="static/assets2/img/OIP2.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="static/assets2/img/NEAS.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
            <h4>Near-Earth Asteroids (NEAs)</h4>
            <p>
             (NEAs) are a subset of celestial objects that orbit close to Earth's path around the Sun. They offer vital insights into the early solar system's formation and composition. NEAs vary in size and are closely monitored due to their potential impact hazards. Understanding these asteroids is essential for both scientific discovery and planetary defense.
            </p>
            <p>
              NEAs have garnered attention in space exploration. Their proximity makes them attractive targets for future missions, offering opportunities for scientific study and resource extraction. Some NEAs contain valuable materials like water and metals, which could support long-term space missions. These asteroids may serve as stepping stones for ambitious human endeavors in deep space, shaping the future of space exploration
            </p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="static/assets2/img/ss.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right">
            <h4>How will the chatbot help</h4>
            <p>
              To access in-depth and comprehensive information about a specific Near-Earth Asteroid (NEA), the initial step involves providing the unique asteroid ID.
            </p>
            <p>
              Upon inputting the asteroid ID, the system will initiate a query to gather an extensive array of data related to the chosen NEA.
            <p>
              You can expect to receive a wealth of valuable information, including details about the asteroid's size, composition, orbital path, potential hazards, and any notable historical or upcoming events associated with this celestial object.
              This process enables users to delve into a treasure trove of knowledge, empowering them to better understand the characteristics and implications of a particular NEA within our cosmic neighborhood.
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="section-bg">
      <div class="container" data-aos="fade-up"  style="background-color: #ADC4CE;">

        <header class="section-header">
          <h3>..........</h3>
          <h3>KNOW MORE ABOUT ASTEROIDS</h3>
          
        </header>

        <div class="row justify-content-center">

          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              
              <h4 class="title"><a href="">1.	Importance of Studying NEAs:</a></h4>
              <p class="description">Near-Earth Asteroids (NEAs) hold crucial significance due to their potential threat of impacting Earth, necessitating constant monitoring and tracking for planetary defense. Beyond their potential hazards, NEAs offer scientific insights into the solar system's early history and resource opportunities for future space missions. This necessitates international cooperation and underscores the importance of studying and understanding these celestial objects.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              
              <h4 class="title"><a href="">2.	Asteroid Exploration:</a></h4>
              <p class="description">Space agencies like NASA and international missions like Japan's Hayabusa2 and OSIRIS-REx have successfully visited and collected samples from asteroids, furthering our understanding of these celestial bodies. The information gained from these missions not only advances our knowledge of the solar system's formation but also contributes to Earth's defense against potential asteroid impacts.the potential to mine asteroids for valuable resources such as metals and water has garnered attention as a future avenue for space exploration and resource sustainability.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              
              <h4 class="title"><a href="">3.	Asteroid Mining:</a></h4>
              <p class="description">Asteroid mining refers to the extraction of valuable resources, such as metals, minerals, and water, from asteroids and other celestial bodies in space. This emerging industry has the potential to revolutionize space exploration and resource sustainability. By harvesting materials from asteroids, we can reduce the need to transport resources from Earth to space, lowering the costs of future space missions and enabling long-term human presence in space. While asteroid mining is still in its early stages, it holds promise for addressing resource shortages on Earth and supporting the growth of space-based industries and colonization efforts. It requires advanced technology and international cooperation to become a reality.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              
              <h4 class="title"><a href="">4.	Asteroid Impact and Defense:</a></h4>
              <p class="description">Asteroid impact and defense involve preparing for the potential collision of asteroids with Earth. These impacts can have catastrophic consequences, so understanding, tracking, and mitigating such threats is of paramount importance. Scientists and space agencies are actively working to identify and monitor Near-Earth Asteroids (NEAs) that may pose a risk. Developing defense strategies, such as deflection missions, is crucial to divert any hazardous asteroids away from Earth. Early detection and international cooperation are key components of our planetary defense efforts, aiming to prevent or minimize the damage from asteroid impacts.</p>
            </div>
          </div>

          

        </div>

      </div>
    </section><!-- End Services Section -->

   
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="clearfix">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3 class="section-title">Our NEO Gallary</h3>
        </header>

        

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/assets2/n1jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                
                
                <div>
                  <a href="static/assets2/img/n1.jpg" class="portfolio-lightbox link-preview"><i class="bi bi-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/assets2/img/n2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                
                <div>
                  <a href="static/assets2/img/n2.jpg" class="portfolio-lightbox link-preview" ><i class="bi bi-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/assets2/img/n9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                
                <div>
                  <a href="static/assets2/img/n9.jpg" class="portfolio-lightbox link-preview" ><i class="bi bi-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/assets2/img/n10.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                
                <div>
                  <a href="static/assets2/img/n10.jpg" class="portfolio-lightbox link-preview" ><i class="bi bi-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/assets2/img/n3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
               
                <div>
                  <a href="static/assets2/img/n3.jpg" class="portfolio-lightbox link-preview" ><i class="bi bi-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/assets2/img/n4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                
                <div>
                  <a href="static/assets2/img/n4.jpg" class="portfolio-lightbox link-preview" ><i class="bi bi-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/assets2/img/n5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                
                <div>
                  <a href="static/assets2/img/n5.jpg" class="portfolio-lightbox link-preview" ><i class="bi bi-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/assets2/img/n6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                
                <div>
                  <a href="static/assets2/img/n6.jpg" class="portfolio-lightbox link-preview" ><i class="bi bi-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/assets2/img/n7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                
                <div>
                  <a href="static/assets2/img/n7.jpg" class="portfolio-lightbox link-preview" ><i class="bi bi-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/assets2/img/n8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                
                <div>
                  <a href="static/assets2/img/n8.jpg" class="portfolio-lightbox link-preview" ><i class="bi bi-plus"></i></a>
                 
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/assets2/img/n9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                
                <div>
                  <a href="static/assets2/img/n9.jpg" class="portfolio-lightbox link-preview" ><i class="bi bi-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    
    

    

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Celesta</h3>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>NewBiz</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
      -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets2/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets2/vendor/aos/aos.js"></script>
  <script src="static/assets2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets2/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets2/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets2/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets2/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets2/js/main.js"></script>

</body>

</html>